<br>
<br>
<br>
<br>
<br>
<div class="row justify-content-center">
  <div class="col-sm-12 col-md-8">

    <div class="card card-fluid">
      <h6 class="card-header">
        <span class="badge badge-pill badge-light"><h3>Welcome to Manage places </h3></span> <br>
      </h6>

      <div class="card-body row justify-content-center" >
        <h1> Event Task </h1>
      </div>

      <div class = "card-footer text-right" >

        <%= link_to 'View Events', events_history_path, class: 'btn btn-primary btn-sm'  %>

      </div>
    </div>

  </div>
</div>